<!doctype html>
<html lang="{% if lang_code %}{{ lang_code }}{% else %}sk{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="pycon sk, python, community, conference, bratislava, slovakia">
    <meta name="description" content="{{ _('Official PyCon SK 2019 website') }}">
    <meta name="author" content="">

    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ domain }}{{ url_for('static', filename='pyconsk/img/logo/pycon_logo_square_400x400.png') }}"/>
    <meta property="og:url" content="{{ domain }}"/>
  	<meta property="og:title" content="{{ _('PyCon SK 2019, Bratislava') }}"/>
  	<meta property="og:site_name" content="2019.pycon.sk"/>
  	<meta property="og:description" content="{{ _('PyCon SK is a community-organized conference for the Python programming language, which will be held in Bratislava on March, 2019.') }}"/>
  	<meta name="twitter:card" content="summary"/>
  	<meta name="twitter:site" content="@pyconsk"/>
  	<meta name="twitter:title" content="{{ _('PyCon SK 2019, Bratislava') }}"/>
  	<meta name="twitter:description" content="{{ _('PyCon SK is a community-organized conference for the Python programming language, which will be held in Bratislava on March, 2019.') }}"/>
    <meta name="twitter:url" content="{{ domain }}"/>
    <meta name="twitter:image" content="{{ domain }}{{ url_for('static', filename='pyconsk/img/logo/pycon_logo_square_400x400.png') }}"/>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}?v=4.13">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='open-iconic/css/open-iconic-bootstrap.min.css') }}?v=1.1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pyconsk/css/pyconsk.css') }}?v=20190917">
    <link rel="icon" href="{{ url_for('static', filename='pyconsk/img/logo/favicon.ico') }}" sizes="16x16">
    {% if lang_code == 'sk' %}
    <link rel="alternate" href="{{ domain }}{{ request.path|replace('/'+lang_code, '/en', 1) }}" hreflang="en">
    {% else %}
    <link rel="alternate" href="{{ domain }}{{ request.path|replace('/'+lang_code, '/sk', 1) }}" hreflang="sk">
    {% endif %}
    <link rel="canonical" href="{{ domain}}{{ request.path }}"/>
    {% block header %}{% endblock %}
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ li_index }}">
              <a href="{{ url_for('index', lang_code=lang_code) }}" class="nav-link">PyCon SK 2019</a>
            </li>
            <li class="nav-item {{ li_venue }}">
              <a href="{{ url_for('venue', lang_code=lang_code) }}" class="nav-link">{{ _('Venue') }}</a>
            </li>
            <li class="nav-item {{ li_coc }}">
              <a href="{{ url_for('coc', lang_code=lang_code) }}" class="nav-link">{{ _('Code of Conduct') }}</a>
            </li>
            <li class="nav-item {{ li_sponsoring }}">
              <a href="{{ url_for('sponsoring', lang_code=lang_code) }}" class="nav-link">{{ _('Sponsoring') }}</a>
            </li>
            <li class="nav-item">
              <a href="https://spy.python.sk/{{ lang_code }}/" class="nav-link external">{{ _('About Us') }}</a>
            </li>
          </ul>
          {% if lang_code == 'sk' %}
          <a href="{{ request.path|replace('/'+lang_code, '/en', 1) }}" title="Switch to english language"
             hreflang="en"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAACJElEQVQokYWQW0jTYQDFv8ceehELCx96CoqlYaxSQYaZoWBCNTNl6JbLkKGV+RBZy3mp8Ia3LooammGY5TIyAzOHKVmRQ52xdIREMMlVkLKm///362HVk9B5OnA4F45oaB5m0LVE8a1xzGXjmMtGMdlGcHt8PMyx0Wu04vb4SLYMkJQ7SJzBTqbtOa1HzlDcNobouv8GHvcgJcwtLNNpn+NO3zxSAk3VUFuBlNDQMU1Nm5OJ15+RlZeQaoC6fifiZLmDoYlvcK8bHC8AuHrTBQCn8sBoAqCodorlzl78VVUAtPdMsVV7OxjQYfdgrXexMPwJpfQK/2AwQPqJIM/PA68X57yP+ORuCktfERJRj3B7fMG56yEtDVJT15WkhHezi4he02VovA5mM2RnQ0YG6PVBY0oKMjGRVZ2OQEwMfq2WlchIVjQaAscOUbEt9j8L4uJQ9kX/7QRAVVUUVWFNUZhweRG6rH6qWyfJzB1kxvUdfEsEcrKDlj1a1nZH/QlQ+XIgnpfNT9kS3oLe2IcItSD2H3/E3b7g6z9tVn5UVmIoGgdA0USwulMDUhKr6yIALLe04TUaKL3xHhFyGtH4ZBopVfzXLjA2Mse5EgcFJaNICao+ibWjCUhVJT13gLSsBzwb/Yiq/OKr8TCWwi7ExfYRmg7mkJDXSciuVjbuaGTD9jomZ71UhEdTHqbl7cwiIuw8YvNZRGg+m6Ks1Ax9IHFvAb8B0rMYCWdRNDQAAAAASUVORK5CYII=" alt="english language"></a>
          {% else %}
          <a href="{{ request.path|replace('/'+lang_code, '/sk', 1) }}" title="Prepnúť na slovenský jazyk"
             hreflang="sk"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAACO0lEQVQokXXMTUiTARzH8T94FOrgyYsddkkQJcFIyhQ1kUzQUHMTRRMNU6xMLXpRMLVS8gWkrKhDXesk0TFKIgzTXPMt2ea0JWOutT179uzlefbtUlKHfvA5/r5iqBqGqv5LUYgrCvGAQtQfQPP7UX1+VK8PxeMlsOPB73bj23YjhqrxZ4lEYo9hJDAMA13X0XWdeDxOLBYjGo0SiUTQNA2vaxsxVBWA8NNnhCfuo45PERqdJDQ6/t9jOBxG0zR27E4k37zOi9c/ULpvkGhuwnA4MIYGiVnqmHjk4s70N4amthiY3KRvzMm1ETu9tze4+8CJJL1CkkxzDD7eJdDRjfFpHsO3i77lQqut42aflZrOr9ScX6Gy1cap5i+UNixRaFmk4dIyIk8QOTDHrYde/G1d6C2N6A4H8bvDRC0WLl61cbpjncpzK5Q32yhtsFJkWeL4mUXqLuwFFhmY9mB9a2e4Z5b2nmXaOxfYnJnFfNlOedsGJ1vWONG0SkH9CsfMNo5UW6nqXEPkOfJGBNeVEb4PT2F/v0Zjr53Vd+u4+sewFpj5fLSahcMVzB8q42NGKXMHi/hgymehqI57IkhUBL21lVhxMbHuLn6+nCFwvR8tM5NwejqqyUQoLQ0lNZVgSgqB/fsIJCcTzMrCKYJoIsSbzhKrrydaW0u0qppIRQVaWRlaSQnhwkLUvDxCubkoOTkEs7MJZmURzMjALoKoIigiBETwi+D7zSuCR4QdEdwibIvgEsEpgv0vvwCcffbRnUTGYAAAAABJRU5ErkJggg==" alt="slovenský jazyk"></a>
          {% endif %}
          {#
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          #}
        </div>
      </nav>
    </header>

    <main role="main">
      {% block content %}{% endblock %}

      <div class="container marketing">
        <div class="row featurette">
          <div class="col-md-12">
            <hr class="featurette-divider"/>
          </div>
        </div>
      </div>

      <footer class="container">
        {% block footer %}
          <p class="float-right text-center"><a href="#"  title="{{ _('Go to top of page') }}"><span class="oi oi-chevron-top"></span><br/>Back to top</a></p>
          {% autoescape false %}
          <p>{{ _('%(pycontm)s is a trademark for worldwide conference activities claimed by the %(psf)s.',
                  pycontm = '<a href="https://www.python.org/psf/trademarks/pycon/" target="_blank" class="external">PyCon™</a>',
                  psf = '<a href="https://www.python.org/psf-landing/" target="_blank" class="external">%s</a>' % _('Python Software foundation')) }}
            <br/>
             {{ _('PyCon SK is organized by volunteers from %(spy)s.',
                  spy = '<a href="https://spy.python.sk" target="_blank" class="external">%s</a>' % _('SPy o.z.')) }} {{ _('Our <a href="%(url)s">Privacy Policy</a>.', url=url_for('privacy_policy', lang_code=lang_code)) }}
            <br/><span class="oi oi-bug"></span>
             {{ _('Found a bug? Missing some information? This is community managed website, contribute at our %(github)s.',
                  github = '<a href="https://github.com/pyconsk/2018.pycon.sk" target="_blank" class="external">GitHub</a>') }}
          </p>
          {% endautoescape %}
        {% endblock %}
      </footer>
    </main>

    <script src="{{ url_for('static', filename='jquery/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script async src="{{ url_for('static', filename='pyconsk/js/ga.min.js') }}"></script>
  </body>
</html>

