{% extends "body.html" %}
{% block content %}
  <div class="page-banner-area banner6">
    <!-- Subpage title start -->
    <div class="page-banner-title">
      <div class="text-center">
        <h1>{{ _('Code of Conduct') }}</h1>
      </div>
    </div><!-- Subpage title end -->
  </div><!-- Page Banner end -->

  <section id="main-container" class="main-container">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <p class="text-justify">
            {{ _('The Python community is made up of members from around the globe with a diverse set of skills, personalities, and experiences. It is through these differences that our community experiences great successes and continued growth. When you\'re working with members of the community, we encourage you to follow these guidelines which help steer our interactions and strive to keep Python a positive, successful, and growing community.') }}
          </p>
          <p class="text-justify">{{ _('A member of the Python community is:') }}</p>
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-12">
          <h2>{{ _('Open') }}</h2>
          <p class="text-justify">
            {{ _('Members of the community are open to collaboration, whether it\'s on PEPs, patches, problems, or otherwise. We\'re receptive to constructive comments and criticism, as the experiences and skill sets of other members contribute to the whole of our efforts. We\'re accepting of all who wish to take part in our activities, fostering an environment where anyone can participate and everyone can make a difference.') }}
          </p>

          <h2>{{ _('Considerate') }}</h2>
          <p class="text-justify">
            {{ _('Members of the community are considerate of their peers -- other Python users. We\'re thoughtful when addressing the efforts of others, keeping in mind that often times the labor was completed simply for the good of the community. We\'re attentive in our communications, whether in person or online, and we\'re tactful when approaching differing views.') }}
          </p>

          <h2>{{ _('Respectful') }}</h2>
          <p class="text-justify">
            {{ _('Members of the community are respectful. We\'re respectful of others, their positions, their skills, their commitments, and their efforts. We\'re respectful of the volunteer efforts that permeate the Python community. We\'re respectful of the processes set forth in the community, and we work within them. When we disagree, we are courteous in raising our issues.') }}
          </p>
          <p class="text-justify">
            {{ _('Overall, we\'re good to each other. We contribute to this community not because we have to, but because we want to. If we remember that, these guidelines will come naturally.') }}
          </p>

          <h2>{{ _('Slovak Python Community') }}</h2>
          <p class="text-justify">
            {{ _('PyCon SK and Python Meetup fully identify with the Code of Conduct of the Python community. We create an environment, which is open to everyone, independently of sex, sexual orientation, race, education or religion. All communication should be respectful and on professional level. We will be tolerant to each other.') }}
          </p>
          <p class="text-justify">
            {{ _('We do not offend, vilify other members. We behave professionally. Harassment, sexist, racist or otherwise demeaning jokes are improper at our meetings. We will not tolerate any harassment of participants of meetups in any form.') }}
          </p>
        </div>
      </div>

    </div>
  </section>
{% endblock %}
