{% extends "body.html" %}

{% block content %}
    <div class="page-banner-area banner8">
        <!-- Subpage title start -->
        <div class="page-banner-title">
            <div class="text-center">
                <h1>{{ _('EduSummit') }}</h1>
            </div>
        </div><!-- Subpage title end -->
    </div><!-- Page Banner end -->

    <section id="main-container" class="main-container">

        <div class="container">
            <div class="row text-center">
                <span class="icon-wrap"><i class="fa fa-graduation-cap"></i></span>
                <h2 class="section-title">{{ _('EduSummit') }}</h2>
                <p class="section-sub-title">{{ _('Where Teachers meet Programmers') }}</p>
            </div><!--/ Title row end -->

            <div class="row">
                <div class="col-md-12 mrb-30">
                    <p>{{ _('EduSummit is a special section of the conference focused on teaching programming at primary and secondary schools. After two years of having an EduTrack at PyCon SK, consisting of a single day of talks for teachers, we are now organising a two day summit during which teachers will be introduced to innovative ways and methods of teaching programming, share their knowledge of useful tools and last but not least participate in numerous workshops given by experienced educators.') }}</p>
                </div>
            </div>

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-3 col-md-offset-1">
                        <div class="ts-speaker-image">
                            <img class="img-responsive"
                                 src="{{ url_for('static', filename='images/speakers/hromkovic.jpg') }}"
                                 alt="{{ _('Profesor Juraj Hromkovič, DrSc.') }}"/>
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-7">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">{{ _('Profesor Juraj Hromkovič, DrSc.') }}</h3>
                            {#                            <p class="ts-speaker-designation">{{ _('professor at ETH Zürich') }}</p>#}
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('This year’s keynote speaker will be professor Juraj Hromkovič is a university lecturer from Swiss Federal Institute of Technology (ETH) in Zürich.') }}
                                    {{ _('He has authored many books and scientific publications dealing particularly with algorithmics, probabilistic algorithms and didactics of informatics. He focuses on education of informatics teachers and implementing of informatics to elementary schools. In 2017, he was awarded a 1st class Pribina Cross state order by President of Slovak republic Andrej Kiska.') }}
                                </p>
                                <p>
                                    <strong>{{ _('Please note that EduSummit will be primarily in Slovak language.') }}</strong>
                                </p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 3 end -->
            </div><!-- Speaker row 3 -->
        </div>
    </section>

    <section id="content" class="content solid-bg">
        <div class="container">
            <div class="row text-center">
                <span class="icon-wrap"><i class="fa fa-users"></i></span>
                <h2 class="section-title">{{ _('Why Attend?') }}</h2>
                <p class="section-sub-title">{{ _('Great speakers, workshops and hardware showcase') }}</p>
            </div><!--/ Title row end -->

            <div class="row text-center">
                <div class="col-md-4">
                    <div class="feature-box">
						<span class="feature-box-icon">
							<i class="fa fa-microphone"></i>
						</span>
                        <h3 class="feature-title">{{ _('Speak at EduSummit') }}</h3>
                        <div class="feature-box-content">
                            <p>{{ _('Call for Proposals is open. If you are a teacher or educator submit your talk or workshop and co-create the conference.') }}</p>
                        </div>
                    </div><!-- Feature box end -->
                </div><!-- Col 1 end -->

                <div class="col-md-4">
                    <div class="feature-box">
						<span class="feature-box-icon">
							<i class="fa fa-child"></i>
						</span>
                        <h3 class="feature-title">{{ _('Young Coders\' day') }}</h3>
                        <div class="feature-box-content">
                            <p>{{ _('On saturday, we will host a Young Coders\' day, consisting of programming workshops for children.') }}</p>
                        </div>
                    </div><!-- Feature box end -->
                </div><!-- Col 2 end -->

                <div class="col-md-4">
                    <div class="feature-box">
						<span class="feature-box-icon">
							<i class="fa fa-gears"></i>
						</span>
                        <h3 class="feature-title">{{ _('Hardware Projects Showcase') }}</h3>
                        <div class="feature-box-content">
                            <p>{{ _('If you have created an interesting hardware project which uses Python and would like to share it to the world then bring it to PyCon SK 2019.') }}</p>
                            {#                            <p>{{ _('You can find some inspiration here <a href="https://www.ucimeshardverom.sk/projekty/">www.ucimeshardverom.sk/projekty</a>') }}</p>#}
                        </div>
                    </div><!-- Feature box end -->
                </div><!-- Col end -->
            </div><!-- Content row end -->
        </div><!-- Container end -->
    </section>

    <section id="sponsoring" class="sponsoring-area">
        <div class="container">
            <div class="row text-center">
                <span class="icon-wrap"><i class="fa fa-wrench"></i></span>
                <h2 class="section-title">{{ _('EduSummit workshops') }}</h2>
                <p class="section-sub-title">{{ _('On saturday we will hold numerous educational workshops.') }}</p>
            </div><!--/ Title row end -->

            <div class="row">
                <ul>
                    <li>{{ _('A beginner\'s workshop with BBC micro:bit given by high school students') }}</li>
                    <li>{{ _('An advanced workshop with BBC micro:bit for teachers who already teach with micro:bits.') }}</li>
                    <!-- <li>{{ _('Workshop on using, creating and sharing Open Educational Resources for teachers') }}</li> -->
                    <!-- <li>{{ _('Parse Open Data with Python') }}</li> -->
                    <!-- <li>{{ _('PyGame zero workshop for teachers') }}</li> -->
                    <!-- <li>{{ _('Control Minecraft via Python') }}</li> -->
                    <!-- <li>{{ _('Turn your BBC micro:bit into a Minecraft game controller') }}</li> -->
                </ul>
                <p>{{ _('We will update the workshop list after the Call for Proposals is closed.') }} {{ _('More information about the schedule can be found ') }}<a
                        href="{{ url_for('schedule', lang_code=lang_code) }}">{{ _('here') }}</a></p>
            </div>

            <div class="row equal">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="sponsor-details">
                        <div class="sponsor-info">
                            <h4 class="sponsor-name"><i class="fa fa-trophy" aria-hidden="true"></i>
                                {{ _('SPy Cup') }}
                            </h4>
                            <p class="text-justify">
                                {{ _('Students from all 14 schools currently participating in Teaching with Hardware will join the SPy Cup contest, in which they create their own micro:bit project a create a step-by-step manual which the will publish under an open license on our website to inspire other teachers and students. The best projects will be awarded prizes and their authors will have a short presentation about their project at PyCon SK 2019.') }}</p>
                            <p class="text-justify">
                            <p>{{ _('More info can be found at <a href="https://www.ucimeshardverom.sk/sutaz">www.ucimeshardverom.sk/sutaz</a>') }}</p>
                        </div><!-- Info end -->
                    </div><!-- Sponsor details -->
                </div><!-- Col 1 end -->

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="sponsor-details">
                        <div class="sponsor-info">
                            <h4 class="sponsor-name"><i class="fa fa-microchip" aria-hidden="true"></i>
                                {{ _('Teaching with Hardware') }}
                            </h4>
                            <p class="text-justify">
                                {{ _('The goal of the initiative <a href="%(url)s" target="_blank">Teaching with Hardware</a> is to introduce such activities into computing lessons at primary and secondary schools, which will familiarise students with interesting applications of programming and information technologies, thus motivating them in developing their digital literacy and algorithmic thinking. We do this by introducing physical computing with a small programmable device called BBC micro:bit, and by supporting teachers with methodical materials and teacher training. In october 2018 we started a PILOT project on 14 schools across Slovakia, and the results will be announced at PyCon SK 2019.', url='https://www.ucimeshardverom.sk') }}
                            </p>
                        </div><!-- Info end -->
                    </div><!-- Sponsor details -->
                </div><!-- Col 1 end -->

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="sponsor-details">
                        <div class="sponsor-info">
                            <h4 class="sponsor-name"><i class="fa fa-image" aria-hidden="true"></i>
                                {{ _('Poster Session') }}
                            </h4>
                            <p class="text-justify">
                                {{ _('We will host a poster session and we will be happy if you get involved.') }}
                            </p>

                        </div><!-- Info end -->
                    </div><!-- Sponsor details -->
                </div><!-- Col 1 end -->

                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="sponsor-details">
                        <div class="sponsor-info">
                            <h4 class="sponsor-name"><i class="fa fa-trophy" aria-hidden="true"></i>
                                {{ _('Python Cup') }}
                            </h4>
                            <p class="text-justify">
                                {{ _('The <a href="%(url)s" target="_blank">winners of Python Cup</a> will be awarded at EduSummit.', url='http://edi.fmph.uniba.sk/~tomcsanyiova/PythonCup') }}
                            </p>
                        </div><!-- Info end -->
                    </div><!-- Sponsor details -->
                </div><!-- Col 1 end -->

                <div class="col-xs-push-6 col-sm-push-3 col-md-push-3 col-xs-12 col-sm-6 col-md-6">
                    <div class="sponsor-details">
                        <div class="sponsor-info">
                            <h4 class="sponsor-name"><i class="fa fa-ticket" aria-hidden="true"></i>
                                {{ _('What kind of ticked should I buy?') }}
                            </h4>
                            <p class="text-justify">
                                {{ _('All available tickets apply for the whole PyCon SK conference, including the EduSummit section. All of the talks and workshops take place at the same venue and you can decide which talks and workshops you want to attend.') }}
                                <strong>{{ _('If you are a teacher or student you are eligible for a discount.') }}</strong>
                            </p>
                        </div><!-- Info end -->
                    </div><!-- Sponsor details -->
                </div><!-- Col 1 end -->

            </div>
        </div>
    </section>

    <section id="sponsoring" class="sponsoring-area">
        <div class="container">
            <div class="row text-center">
                <span class="icon-wrap"><i class="fa fa-handshake-o"></i></span>
                <h2 class="section-title">{{ _('Sponsorship') }}</h2>
                <p class="section-sub-title">{{ _('We need you — EduSummit seeks for sponsors and partners!') }}</p>
            </div><!--/ Title row end -->

            <div class="row">
                <p>
                    {{ _('By supporting PyCon you also support numerous educational activities during the conference. If the conference is profitable we finance educational activities during the whole year.') }}
                    {{ _('Get in touch with us or visit our <a href="%(url)s">sponsorship page</a> for more information. ', url=url_for('sponsoring', lang_code=lang_code)) }}
                </p>
                <p class="text-center">
                    <a href="mailto:sponsors@pycon.sk" class="btn btn-primary btn-lg">
                        <i class="fa fa-handshake-o"></i> &nbsp; sponsors@pycon.sk
                    </a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
