{% extends "body.html" %}
{% block content %}
  <div class="page-banner-area banner4">
    <!-- Subpage title start -->
    <div class="page-banner-title">
      <div class="text-center">
        <h1>{{ _('Frequently Asked Questions') }}</h1>
      </div>
    </div><!-- Subpage title end -->
  </div><!-- Page Banner end -->

  <section id="main-container" class="main-container">

    <div id="accordion" class="accordion">
      <h1 class="featurette-heading">{{ _('Frequently Asked Questions') }}</h1>

      <h2>{{ _('Tickets') }}</h2>

      <div class="card mb-0">
        <div class="card-header collapsed" data-toggle="collapse" href="#collapseTicketsOne">
          <a class="card-title">
            Item 1
          </a>
        </div>
        <div id="collapseTicketsOne" class="card-body collapse" data-parent="#accordion">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt
            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
            vice lomo. Leggings occaecat
            craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </p>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTicketsTwo">
          <a class="card-title">
            Item 2
          </a>
        </div>
        <div id="collapseTicketsTwo" class="card-body collapse" data-parent="#accordion">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt
            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
            vice lomo. Leggings occaecat
            craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </p>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTicketsThree">
          <a class="card-title">
            Item 3
          </a>
        </div>
        <div id="collapseTicketsThree" class="collapse" data-parent="#accordion">
          <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
            laborum eiusmod. Brunch 3 wolf moon tempor, sunt
            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable
            VHS.
          </div>
        </div>
      </div>


      <h2>{{ _('Tickets') }}</h2>

      <div class="card mb-0">
        <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
          <a class="card-title">
            Item 1
          </a>
        </div>
        <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt
            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
            vice lomo. Leggings occaecat
            craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </p>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <a class="card-title">
            Item 2
          </a>
        </div>
        <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt
            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
            helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
            vice lomo. Leggings occaecat
            craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </p>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <a class="card-title">
            Item 3
          </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
            laborum eiusmod. Brunch 3 wolf moon tempor, sunt
            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable
            VHS.
          </div>
        </div>
      </div>

    </div>
    </div>
  </section>

{% endblock %}
