{% extends "body.html" %}

{% block content %}
  <div class="page-banner-area banner12">
    <!-- Subpage title start -->
    <div class="page-banner-title">
      <div class="text-center">
        <h1>{{ _('Job Fair') }}</h1>
      </div>
    </div><!-- Subpage title end -->
  </div><!-- Page Banner end -->

  <section id="main-container" class="main-container">
    <div class="container">

      <div class="row featurette">
        <div class="col-md-12">

          <p class="text-justify">
            {{ _('We believe that an exceptional conference is more than great speakers, interesting talks and good food. Every year we try to introduce new things to PyCon SK. This year we will introduce another brand new feature - Job Fair. Together with our sponsors, we\'ve prepared an opportunity for you to meet their representatives.') }}
          </p>
          <p class="text-justify">
            {{ _('Maybe you don\'t always have time to check those companies in person or you are too shy to meet representatives in their environment. During PyCon SK you will be surrounded by great people and a friendly atmosphere which will make talking to companies a much more pleasant experience.') }}
          </p>
          <p class="text-justify">
            {{ _('When you talk to company representatives they can answer all your questions. After a short discussion, you will know what they expect from developers, about their currently open positions, what technology stack they are using and their growth opportunities. If this sounds interesting, please sign up in the form. We\'ll forward your details to company representatives you choose (you can select multiple) and they will schedule a spot during the Job Fair session with you (be aware that the number of the slots is limited).') }}
          </p>

          <p class="text-center">
            <a href="{{ url_for('jobfair_form', lang_code=lang_code) }}" class="btn btn-lg btn-secondary">{{ _('Job Fair sign up form') }}</a>
          </p>

        </div>
      </div>
    </div>
  </section>
{% endblock %}
