{% extends "body.html" %}

{% block content %}
  <div class="page-banner-area banner12">
    <!-- Subpage title start -->
    <div class="page-banner-title">
      <div class="text-center">
        <h1>{{ _('Job Fair') }}</h1>
      </div>
    </div><!-- Subpage title end -->
  </div><!-- Page Banner end -->

  <section id="main-container" class="main-container">
    <div class="container">

      <div class="row featurette">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2"></div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <img class="img-responsive"
                 src="{{ url_for('static', filename='images/main-banner/banner-pycon19.jpg') }}"
                 alt="{{ _('PyConSK 2019 banner') }}">
          </div>
      </div>
      <div class="row featurette">
          <p class="text-justify"></p>
      </div>
      <div class="row featurette">
        <div class="col-md-12">
            <p class="text-justify">
              {{ _('We believe that an exceptional conference is more than great speakers, interesting talks and good food. Every year we try to introduce new things to PyCon SK. This year we will introduce another brand new feature - Job Fair. Together with our sponsors, we\'ve prepared an opportunity for you to meet their representatives.') }}
            </p>
            <p class="text-justify">
              {{ _('Maybe you don\'t always have time to check those companies in person or you are too shy to meet representatives in their environment. During PyCon SK you will be surrounded by great people and a friendly atmosphere which will make talking to companies a much more pleasant experience.') }}
            </p>
            <p class="text-justify">
              {{ _('When you talk to company representatives they can answer all your questions. After a short discussion, you will know what they expect from developers, about their currently open positions, what technology stack they are using and their growth opportunities. If this sounds interesting, please sign up in the form. We\'ll forward your details to company representatives you choose (you can select multiple) and they will schedule a spot during the Job Fair session with you (be aware that the number of the slots is limited).') }}
            </p>

            <p class="text-center">
              <a href="{{ url_for('jobfair_form', lang_code=lang_code) }}" class="btn btn-lg btn-secondary">{{ _('Job Fair sign up form') }}</a>
            </p>

        </div>
      </div>

        <hr/>

      <div class="row featurette">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2"></div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <img class="img-responsive"
                 src="{{ url_for('static', filename='images/partners/exponea.jpg') }}"
                 alt="{{ _('Logo Exponea') }}">
          </div>
      </div>
      <div class="row featurette">
          <p class="text-justify"></p>
      </div>
      <div class="row featurette">
        <div class="col-md-12">
          <p class="text-justify">
            {{ _('If you’re only coming to PyconSK because you love just Java or Cobol, stop reading this message at once. At once!') }}
          </p>
          <p class="text-justify">
            {{ _('On the other hand, if writing clean code is your mantra, finding the best possible solution is your thing, and '
                 'elegant languages like python or go are your passion, we would love to hear from you.') }}
          </p>
          <p class="text-justify">
            {{ _('We are looking for a new python tamer to join our team, and help us build a world class product.') }}
          </p>
        </div>
      </div>

        <hr/>

      <div class="row featurette">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2"></div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <img class="img-responsive"
                 src="{{ url_for('static', filename='images/partners/kiwi.svg') }}"
                 alt="{{ _('Logo Kiwi.com') }}">
          </div>
      </div>
      <div class="row featurette">
          <p class="text-justify"></p>
      </div>
      <div class="row featurette">
        <div class="col-md-12">
          <p class="text-justify">
            {{ _('The travel tech company Kiwi.com was created for travellers by travellers and '
                 'was founded in 2012. Powered by its proprietary algorithm that allows users to '
                 'combine flights from over 500 airlines (virtual interlining), including many '
                 'that do not normally cooperate, and its industry-leading Kiwi.com Guarantee, it '
                 'is one of the fastest growing technology company in Central Europe. It entered '
                 'the 2017 Deloitte Technology Fast 500 EMEA list in 7th place, becoming the '
                 'highest ever ranked Czech company.') }}
          </p>
          <p class="text-justify">
            {{ _('Today, the company sees more than 100 million flight searches every day and '
                 'employs over 2500 people worldwide. 2018 saw the launch of NOMAD, a '
                 'revolutionary new way to combine cheap flights and Tequila, the new B2B '
                 'platform is for partners of all sizes. In the second consecutive year, '
                 'Kiwi.com was named the best Start-up of the Czech Republic by the Czech '
                 'Forbes Magazine.') }}
          </p>
          <p class="text-justify">
            {{ _('Visit our booth at PyConSK and check our career site <a '
                 'href="https://kiwi.com/jobs">kiwi.com/jobs</a>. We are hiring in Bratislava, '
                 'Prague, Brno and in other locations :)') }}
          </p>
        </div>
      </div>

        <hr/>

      <div class="row featurette">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2"></div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <img class="img-responsive"
                 src="{{ url_for('static', filename='images/partners/kistler.svg') }}"
                 alt="{{ _('Logo Kistler') }}">
          </div>
      </div>
      <div class="row featurette">
          <p class="text-justify"></p>
      </div>
      <div class="row featurette">
        <div class="col-md-12">
          <p class="text-justify">
            {{ _('Test Developer in Kistler is participating in software development for embedded '
                 'systems, desktop applications, web applications, or cloud solutions - depending '
                 'on the project.') }}
          </p>
          <p class="text-justify">
            {{ _('The main task is to create automated tests on system level to minimize manual '
                 'testing effort and increase efficiency of development, which often requires '
                 'creativity and logical thinking. Overview of technologies and interfaces is of '
                 'a huge advantage when finding their usage in the right combination. That\'s why '
                 'is continuous learning together with following latest trends and sharing '
                 'knowledge gained in testing and automation very important to us.') }}
          </p>
          <p class="text-justify">
            {{ _('We are using Robot Framework for automated tests of backend and frontend '
                 'applications. This tool gives us possibilities to implement and integrate '
                 'Python modules and libraries made for our specific purposes and needs.') }}
          </p>
          <p class="text-justify">
            {{ _('Agile environment together with dynamically changing demands and conditions '
                 'create constantly new challenges and encouragement for innovative solutions.') }}
          </p>
        </div>
      </div>

        <hr/>

      <div class="row featurette">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2"></div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <img class="img-responsive"
                 src="{{ url_for('static', filename='images/partners/redhat.svg') }}"
                 alt="{{ _('Logo Red Hat') }}">
          </div>
      </div>
      <div class="row featurette">
          <p class="text-justify"></p>
      </div>
      <div class="row featurette">
        <div class="col-md-12">
          <p class="text-justify">
            {{ _('Red Hat\'s Engineering team is looking for a Software Engineer to join us in '
                 'Brno, Czech Republic. In this role, you will work as part of the Continuous '
                 'Productization team on automating, improving, and streamlining the release '
                 'process of Red Hat\'s offerings.') }}
          </p>
          <p class="text-justify">
            {{ _('You\'ll be cooperating on open source projects with other continuous integration '
                 '(CI) engineers and development and quality assurance (QA) teams. As a Software '
                 'Engineer, you will work with the latest technologies in the market today like '
                 'Red Hat OpenShift, containers, and Jenkins.') }}
          </p>
          <p class="text-justify">
            {{ _('<a href="https://global-redhat.icims.com/jobs/">Learn more</a>') }}
          </p>
        </div>
      </div>

        <hr/>

      <div class="row featurette">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2"></div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <img class="img-responsive"
                 src="{{ url_for('static', filename='images/partners/rbi.png') }}"
                 alt="{{ _('Logo Red Hat') }}">
          </div>
      </div>
      <div class="row featurette">
          <p class="text-justify"></p>
      </div>
      <div class="row featurette">
        <div class="col-md-12">
          <p class="text-justify">
            {{ _('Our team develops solution based on state of the art artificial intelligence '
                 'models and algorithms for natural language processing for the Raiffeisen banks '
                 'in the CEE region. Our focus areas are conversational AI and voice processing. '
                 'Raiffeisen Group AI Lab represents a unique concentration of knowhow and '
                 'expertise in the field of AI delivering innovative language-based solutions.') }}
          </p>
          <p class="text-justify">
            {{ _('Curious to know more about the various opportunities? Don\'t hesitate to reach '
                 'out. We are happy to meet you soon in PyCon SK!') }}
          </p>
        </div>
      </div>

        <hr/>

      <div class="row featurette">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2"></div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <img class="img-responsive"
                 src="{{ url_for('static', filename='images/partners/titans.svg') }}"
                 alt="{{ _('Logo Titans') }}">
          </div>
      </div>
      <div class="row featurette">
          <p class="text-justify"></p>
      </div>
      <div class="row featurette">
        <div class="col-md-12">
          <p class="text-justify">
            {{ _('<strong>We are TITANS freelancers!</strong>') }}
          </p>
          <p class="text-justify">
            {{ _('It\'s not easy to become a TITAN. It never was!') }}
          </p>
          <p class="text-justify">
            {{ _('You must have it in you. The readiness for new challenges, the drive to take '
                 'them on and to prove that impossible is just a matter of will is rooted in the '
                 '<strong>#DNA</strong> of every great <strong>#hero</strong>.') }}
          </p>
          <p class="text-justify">
            {{ _('We are here for those who want to step out from a line and enter the real world '
                 'of IT <strong>#freelancing</strong> with a helmet crest on their chest. For '
                 'years, we have fought and persevered alongside each of our TITANs.') }}
          </p>
          <p class="text-justify">
            {{ _('At TITANS, we will help you experience the <strong>#freelance</strong> IT world '
                 'of direct communication, relationships and solidarity that we have created '
                 'together.') }}
          </p>
          <p class="text-justify">
            {{ _('We are ready for you. Are you ready? <a '
                 'href="https://www.titans.sk/sk/freelanceri/pracovne-ponuky/?text=python">'
                 'Job Offers</a>') }}
          </p>
        </div>
      </div>

        <hr/>

      <div class="row featurette">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2"></div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-12 text-center centered">
            <img class="img-responsive"
                 src="{{ url_for('static', filename='images/partners/segron.png') }}"
                 alt="{{ _('Logo Segron') }}">
          </div>
      </div>
      <div class="row featurette">
          <p class="text-justify"></p>
      </div>
      <div class="row featurette">
        <div class="col-md-12">
          <p class="text-justify">
            {{ _('We at <strong>SEGRON</strong> are creating Test Automation Solutions for the '
                 'Telecommunication sector. Our product "sticks out" from the other solutions '
                 'out there by being the only one offering beyond end-to-end capabilities. Our '
                 'headquarters is in Bratislava where all the development happens.') }}
          </p>
          <p class="text-justify">
            {{ _('We are looking for talented people who also “stick out” as developers, '
                 'testers, architects...') }}
          </p>
          <p class="text-justify">
            {{ _('People with <strong>Damn good problem-solving skills</strong> – not just '
                 'finding and fixing the problems but think at least five steps ahead and '
                 'fix the problems in such elegant way that it will never break again.') }}
          </p>
          <p class="text-justify">
            {{ _('People who feel <strong>responsible for their work</strong> – and have a '
                 'commitment for excellence – knowing that whatever is done must be done '
                 'properly and with high working ethics.') }}
          </p>
          <p class="text-justify">
            {{ _('People who feel a <strong>burning desire to learn</strong>, grow, make things better '
                 'for the team.') }}
          </p>
          <p class="text-justify">
            {{ _('If the above sounds like you and you enjoy working in a <strong>dynamic start-up '
                 'environment</strong> on challenging projects that you can be proud of, we should '
                 'definitely talk!') }}
          </p>
        </div>
      </div>

        <hr/>

      <div class="row featurette">
        <div class="col-md-12">
            <p class="text-center">
              <a href="{{ url_for('jobfair_form', lang_code=lang_code) }}" class="btn btn-lg btn-secondary">{{ _('Job Fair sign up form') }}</a>
            </p>
        </div>
      </div>

    </div>
  </section>
{% endblock %}
