<div class="newsletter-form clearfix">
    <h3>{{ _('Stay Updated') }} - {{ _('Subscribe to our newsletter') }}</h3>
    <form action="https://pycon.us12.list-manage.com/subscribe/post?u=89d883ce643e7200aabe34fa1&amp;id=e1520cb152"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>

        <div class="form-group">
            <input type="email" value="" name="EMAIL" id="mce-EMAIL newsletter-form-email"
                   class="form-control form-control-lg required email" placeholder="{{ _('Your Email Here') }}"
                   autocomplete="off" aria-describedby="{{ _('email address for the newsletter') }}">
            <button class="btn btn-primary">{{ _('Subscribe') }}</button>
        </div>

        <div class="form-group">

            <div class="mc-field-group input-group">
                <strong>{{ _('Which newsletters do you wish to subscribe to?') }}</strong>
                <p>
                <input type="checkbox" value="1" name="group[17053][1]" id="mce-group[17053]-17053-0" checked>
                <label for="mce-group[17053]-17053-0">{{ _('PyCon SK Newsletter (conference updates in EN lang.)') }}</label>
                </p>
                <p>
                <input type="checkbox" value="2" name="group[17053][2]" id="mce-group[17053]-17053-1" checked>
                <label for="mce-group[17053]-17053-1">{{ _('SPy o.z. Newsletter (monthly updates on Python meetups, PyCon SK and Učíme s Hardvérom - in SK lang.)') }}</label></li>
                </p>
            </div>

            <fieldset class="mc_fieldset gdprRequired mc-field-group hidden" name="interestgroup_field">
                <strong>{{ _('Email Marketing Permissions') }}</strong>
                <p>{{ _('Please select all the ways you would like to hear from SPy o.z.:') }}</p>
                <input type="checkbox" id="gdpr_26045" name="gdpr[26045]" value="Y" class="form-check-input" checked>
                <label class="form-check-label" for="gdpr_26045">{{ _('Email') }}</label>
                &nbsp;
                <input type="checkbox" id="gdpr_26049" name="gdpr[26049]" value="Y" class="form-check-input">
                <label class="form-check-label" for="gdpr_26049">{{ _('Direct Mail') }}</label>
            </fieldset>

            <p>
                {{ _('You can unsubscribe at any time by clicking the link in the footer of our emails.') }}
                <a href="https://us12.campaign-archive.com/home/?u=89d883ce643e7200aabe34fa1&id=e1520cb152"
                   class="external" title="{{ _('View previous campaigns.') }}">{{ _('View previous campaigns.') }}</a>
            </p>
            <p>
                <small>
                    {{ _('We use Mailchimp as our marketing platform.') }} {{ _('By clicking to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing.') }}
                    {{ _('For information about privacy practices, please visit our <a href="%(url)s">Privacy Policy</a>.', url=url_for('privacy_policy', lang_code=lang_code)) }}
                </small>
            </p>
        </div>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_89d883ce643e7200aabe34fa1_e1520cb152" tabindex="-1" value="">
        </div>

    </form>
</div>
