{% extends "body.html" %}
{% block content %}
  <div class="container marketing">

    <div class="row featurette">
      <div class="col-md-12">
        <h1 class="featurette-heading">{{ _('Privacy Policy') }}</h1>
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading">{{ _('SPy o.z. Privacy and Security') }}</h2>
        <p class="text-justify">
          {{ _('SPy o.z. value and respect all individuals and organizations that utilize our services. We understand that you may be concerned about privacy issues that surround the use of the Internet.') }}
        </p>
        <p class="text-justify">
          {{ _('We believe that you should have control over who receives your personal information, whether it concerns where you live, what your interests are, or how you choose to conduct transactions. We\'re focused on only one thing: manage Python community in Slovakia in a safe and secure environment.') }}
        </p>
        <p class="text-justify">
          {{ _('Therefore, we do not disclose, share, sell, or trade information about your individual visits to *.pycon.sk or the information that you may give us such as your name, address, e-mail address or telephone number, to any outside companies. We will release personal information about you, if necessary, in order to comply with a valid legal process such as a search warrant or court order. If we receive such request we\'ll transparently create a transparency report.') }}
        </p>
        <p class="text-justify">
          {{ _('Other Web sites that you may link to from our site, including our partners\' Web sites, have their own privacy policies. SPy o.z. is not responsible for the privacy practices of other Web sites. We encourage you to review the privacy policies of Web sites before providing them with any of your personal information.') }}
        </p>
        <p class="text-justify">
          {{ _('At our events we respect peoples will not be photographed if they do not want to. Official photographers will ignore such people. We also ask our participants to do so as well.') }}
        </p>
        <p class="text-justify">
          {{ _('We respect the Code of Conduct, let us know if you feel we can improve our privacy and policy rules.') }}
        </p>
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading">{{ _('How SPy o.z. Uses Information About You') }}</h2>
        <p class="text-justify">
          {{ _('When you register for an event, make donations or select a volunteer opportunity, we may specifically ask for information about you -- such as name, home or Internet address, and billing information -- in order to provide that service or information to you. This information will be used solely for the purposes of completing your registration, donation or locating the volunteer opportunity you are seeking.') }}
        </p>
        <p class="text-justify">
          {{ _('The information which SPy o.z. automatically gathers, such as the numbers and frequency of visitors to our site and its areas, is used only in the aggregate -- very much like television ratings that tell the networks how many people tuned in to a program. This collective data helps us determine how much our visitors use parts of the site so that we can improve our site to assure that it is as appealing as we can make it for as many of you as possible.') }}
        </p>
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading">{{ _('SPy o.z. Security') }}</h2>
        <p class="text-justify">
          {{ _('SPy o.z. takes every precaution to protect our user\'s information. When users submit sensitive information via the Web site, your information is protected both online and offline.') }}
        </p>
        <p class="text-justify">
          {{ _('SPy o.z. uses Secure Sockets Layer (SSL) technology to keep your personal information as secure as possible. SPy o.z. helps to protect your information by working with partners that provide a secure and safe environment for credit card transactions.') }}
        </p>
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading">{{ _('Third party services that may obtain some information about you:') }}</h2>
        <p class="text-justify">
          {{ _('<strong>Tito</strong>: Event management website, we use for event ticket registration. Read their privacy and policy: ') }}
          <a href="https://ti.to/privacy" target="_blank">https://ti.to/privacy</a>
        </p>
        <p class="text-justify">
          {{ _('<strong>PayPal</strong>: Payment provider, we use for event ticket payments. Read their privacy and policy: ') }}
          <a href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full" target="_blank">https://www.paypal.com/us/webapps/mpp/ua/privacy-full</a>
        </p>
        <p class="text-justify">
          {{ _('<strong>Google Analytics</strong>: Website performance analytics, we use to collect aggregated data about our website visitors. Read their privacy and policy: ') }}
          <a href="https://policies.google.com/privacy" target="_blank">https://policies.google.com/privacy</a>
        </p>
        <p class="text-justify">
          {{ _('<strong>MailChimp</strong>: Newsletter and event update mass email provider, we use to send emails to multiple recipients. Read their privacy and policy: ') }}
          <a href="https://mailchimp.com/legal/" target="_blank">https://mailchimp.com/legal/</a>
        </p>
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading">{{ _('Third party service that could be avoided:') }}</h2>
        <p class="text-justify">
          {{ _('<strong>Tito</strong>: Join us on events that do not require tickets, such as monthly Python meetups. Unfortunately for PyCon SK conference ticket is required for everyone, however, you can use a pseudonym as we won\'t ask for your ID if you have a valid ticket (without any discount, for discounted tickets, student ID or similar might be required).') }}
        </p>
        <p class="text-justify">
          {{ _('<strong>PayPal</strong>: Request a payment via alternative methods: Bank transfer, cryptocurrencies, an extra fee for additional human work will apply.') }}
        </p>
        <p class="text-justify">
          {{ _('<strong>Google Analytics</strong>: Use adblocker to block this service automatically for every site on the internet.') }}
        </p>
        <p class="text-justify">
          {{ _('<strong>MailChimp</strong>: Do not subscribe to our newsletter, or request us not to include your email in mass emails when requesting an alternative payment method. If you are already subscribed, you can unsubscribe at any time, by clicking the link in the email footer.') }}
        </p>
      </div>
    </div>

  </div>
{% endblock %}