{% extends "body.html" %}

{% block content %}
  <div class="container marketing">

    <div class="row featurette">
      <div class="col-md-12">

        <h1 class="featurette-heading">{{ _('Schedule') }}</h1>

        <div class="card">
          <h5 class="card-header">What's on when (more details to be confirmed)</h5>
          <div class="card-body">
            <p class="card-text">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                    <th scope="col">Sunday</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Talks [EN track]</td>
                    <td>Talks [both EN and SK]</td>
                    <td>Talks [both EN and SK]</td>
                  </tr>
                  <tr>
                    <td>Workshops [both EN and SK]</td>
                    <td>Workshops [both EN and SK]</td>
                    <td>Workshops [both EN and SK]</td>
                  </tr>
                  <tr>
                    <td>SPy Cup Presentations [SK] <span class="badge badge-pill badge-success">Edu</span></td>
                    <td>PyCon Cup Finals [EN] <span class="badge badge-pill badge-secondary">Conference Contest</span></td>
                    <td>Sprints [both EN and SK]</td>
                  </tr>
                  <tr>
                    <td>EduSummit Talks [SK] <span class="badge badge-pill badge-success">Edu</span></td>
                    <td>EduSummit Workshops [SK] <span class="badge badge-pill badge-success">Edu</span></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Python Cup [SK] <span class="badge badge-pill badge-success">Edu</span></td>
                    <td>Young Coders' day [SK] <span class="badge badge-pill badge-success">Edu</span></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>EduSummit Poster Session [both EN and SK] <span class="badge badge-pill badge-success">Edu</span></td>
                    <td>Main Poster session [both EN and SK]</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Hardware Projects Showcase [both EN and SK] <span class="badge badge-pill badge-success">Edu</span></td>
                    <td>International PyCon organizers meeting [EN]</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Conference Party <span class="badge badge-pill badge-warning">Social Event</span></td>
                    <td>Conference Dinner <span class="badge badge-pill badge-warning">Social Event</span></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </p>
          </div>
        </div>


      </div>
    </div>
  </div>
{% endblock %}
