{% extends "body.html" %}
{% block content %}
    <div class="page-banner-area banner2">
        <!-- Subpage title start -->
        <div class="page-banner-title">
            <div class="text-center">
                <h1>{{ _('Speakers') }}</h1>
            </div>
        </div><!-- Subpage title end -->
    </div><!-- Page Banner end -->

    <section id="main-container" class="main-container">
        <div class="container">
            <div class="row text-center">
                <span class="icon-wrap"><i class="fa fa-microphone"></i></span>
                <h2 class="section-title">{{ _('Speakers') }}</h2>
                <p class="section-sub-title">{{ _('Speakers you can meet at PyCon SK 2019.') }}</p>
            </div><!--/ Title row end -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/kral.jpg') }}" alt="Honza Král"/>
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Honza Král</h3>
                            <p class="ts-speaker-designation">{{ _('Python engineer at Elastic') }}</p>
{#                            <ul class="ts-speaker-social-links">#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Honza is a Python engineer at Elastic, the company behind Elasticsearch and other open source products, where he maintains the python libraries. Before that he was part of Whiskey Media, using Django to build content website for large audiences. He always had large affinity of working with data and trying to help teams scale their code and data.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('So you want to be an Engineer?') }}</h4>
                                <p>{{ _('Software Engineering is a new field, have we figured out all the ins and outs of how best to work in it?') }}</p>
                                <p>{{ _('For a lot of people the technology field has always been a semi-magical place where engineers use their arcane knowledge to tease the secrets from the computer and unfortunately we have bought into this myth... Let us examine what are some of the myths surrounding out field and which aspects might actually be useful. Is SW engineering an art or just another skill? Is talent required? Does it even matter? What about the 10X engineer...?') }}</p>
                                <p>{{ _('I will be sharing some insights that I have learned from trying to answer these questions for myself, part based on research, part on personal opinion.') }}</p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 1 end -->
            </div><!-- Speaker row 1 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/li.jpg') }}" alt="Helen Li" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Helen Li</h3>
                            <p class="ts-speaker-designation">{{ _('senior software engineer with Google AI Genomics') }}</p>
                            <ul class="ts-speaker-social-links">
                                <li><a href="https://twitter.com/xunjieli" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://github.com/google/nucleus" target="_blank"><i class="fa fa-github"></i></a></li>
                            </ul>
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Helen Li is a senior software engineer with Google AI Genomics. She graduated from Massachusetts Institute of Technology with a bachelor\'s degree in computer science. Before working on Nucleus, she was an active contributor to the Chromium project, where she developed open-source libraries and tools for over four years.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Nucleus: an open-source library for genomics data and machine learning') }}</h4>
                                <p>
                                    {{ _('Nucleus is a Python library designed to make it easy to read, write, and analyze genomics data in common bioinformatics file formats such as SAM and VCF. In addition, Nucleus enables seamless integration with the TensorFlow machine learning (ML) framework. Nucleus is heavily used in DeepVariant, a state-of-the-art convolutional neural network variant caller, and in other ML projects at Google AI Genomics. This talk will give an overview of Nucleus, its features, and its APIs.') }}
                                </p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 2 end -->
            </div><!-- Speaker row 2 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/hromkovic.jpg') }}" alt="{{ _('Profesor Juraj Hromkovič, DrSc.') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Juraj Hromkovič</h3>
                            <p class="ts-speaker-designation">{{ _('professor at ETH Zürich') }}</p>
{#                            <ul class="ts-speaker-social-links">#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Professor Juraj Hromkovič is a university lecturer from Swiss Federal Institute of Technology (ETH) in Zürich.') }}
                                    {{ _('He has authored many books and scientific publications dealing particularly with algorithmics, probabilistic algorithms and didactics of informatics. He focuses on education of informatics teachers and implementing of informatics to elementary schools. In 2017, he was awarded a 1st class Pribina Cross state order by President of Slovak republic Andrej Kiska.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
{#                            <div class="ts-speaker-session">#}
{#                                <h4 class="session-title">{{ _('TBD') }}</h4>#}
{#                                <p>{{ _('TBD') }}</p>#}
{#                            </div>#}
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 3 end -->
            </div><!-- Speaker row 3 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/holtermann.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Markus Holtermann</h3>
                            <p class="ts-speaker-designation">{{ _('Back-end and infrastructure engineer at Crate.io, Django core contributor') }}</p>
{#                            <ul class="ts-speaker-social-links">#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Markus Holtermann works as a back-end and infrastructure engineer at Crate.io. He has been a Django core contributor since early 2015. He is a member of the Django security team as well as an organizer and advisor for DjangoCon conferences. Markus has been a project lead at the German ubuntuusers.de community support platform where he discovered Python and Django in 2010.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Less Obvious Things To Do With Django\'s ORM.') }}</h4>
                                <p>{{ _('Django’s ORM is powerful. And it has been for ages. It only became even more powerful over the last years. Django’s ORM can be intimidating because it can do so many things. And it can also be confusing when trying to find out how to do things.') }}</p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 4 end -->
            </div><!-- Speaker row 4 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/spademan.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Luke Spademan</h3>
                            <p class="ts-speaker-designation">{{ _('CS student and Python enthusiast') }}</p>
{#                            <ul class="ts-speaker-social-links">#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Luke is 17 and is studying computer science, maths, further maths and physics in Year 12 (English Secondary school / Sixthform). He loves to program in Python and thinks that the micro:bit is a great eductional tool and should be more widely used. He has given previous talks at Pycon UK and is looking forward to speaking at Pycon SK 2019.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Controling a robotic arm with micro:bits. How to make computer science education more interesting.') }}</h4>
                                <p>{{ _('Captivating a group of children for a sustained period of time is notoriously hard. I will be exporing with you how the micro:bit can be used to engage a young audience with interactive demos and programming activities.') }}</p>
                                <p>{{ _('Children love to physically interact with hardware. That is what is great about the micro:bit. It not only has built in LEDs and buttons but can also control bigger more exciting electronics like robotic arms. This allows for setup that gives students of all ability levels a challenge. Students that are beginners to programming can be given a more complete program or walk throught a worksheet that takes them through the process of controling the device (in this case a robotic arm) step by step. Students that have higher programming skills can be given a more bare bones / boilerplate source file and can write code to control the arm with less guidance.') }}</p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 4 end -->
            </div><!-- Speaker row 4 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/balas.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Jakub Balas</h3>
                            <p class="ts-speaker-designation">{{ _('Python engineer at Iceye') }}</p>
{#                            <ul class="ts-speaker-social-links">#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('After several years of using Python in e-commerce, banking, and media sectors in the UK, Jakub currently leads a technical side of ground segment at Iceye, the Earth observation start up in Finland. They are building a large synthetic-aperture radar (SAR) satellite constellation and using Python extensively in various parts of the project. Iceye has recently successfully launched their second satellite ICEYE-X2 on board of SpaceX’s Falcon 9.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Using python in new space industry is not a rocket science') }}</h4>
                                <p>
                                    {{ _('What we do at Iceye and how python is allowing us to grow fast and be unique.') }}
                                </p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 5 end -->
            </div><!-- Speaker row 5 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/luff.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Meredydd Luff</h3>
                            <p class="ts-speaker-designation">{{ _('Creator of Anvil') }}</p>
{#                            <ul class="ts-speaker-social-links">#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Meredydd has been programming since the halcyon days of QBasic and Delphi, when it was easy to get started building software. He created Anvil to bring those days back. Meredydd has worked in startups from telecomms to music, and has a PhD in the usability of programming from Cambridge.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Anvil: Full-stack Web Apps with Nothing but Python') }}</h4>
                                <p>
                                    {{ _('Building for the modern web is complicated and error-prone: a typical web app '
                                         'requires five different languages and four or five frameworks just to get '
                                         'started. Wouldn''t it be nicer if we could do it all in Python? With Anvil, '
                                         'you can design your page visually, write your browser-side and server-side '
                                         'code in pure Python, and even set up a built-in database in seconds. In this '
                                         'talk, Meredydd will walk us through how Anvil works under the bonnet, and '
                                         'the challenges of building a programming system that''s easy to use without '
                                         'sacrificing power.') }}
                                </p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 6 end -->
            </div><!-- Speaker row 6 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/taylor-morgan.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Shaun Taylor-Morgan</h3>
                            <p class="ts-speaker-designation">{{ _('Python developer at Anvil') }}</p>
{#                            <ul class="ts-speaker-social-links">#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Shaun started programming in earnest by simulating burning fusion plasmas in the world''s biggest laser system. '
                                         'He fell in love with Python as a data analysis tool, and has never looked back. Now he wants to turn everything '
                                         'into Python, which is why he works for Anvil.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Anvil - Build a full-stack web app using nothing but Python') }}</h4>
                                <p>
                                    {{ _('Anvil is a platform for rapidly developing web apps using nothing but Python.\n\n'
                                         'It''s like Visual Basic for the web. It has a drag-and-drop editor for '
                                         'constructing a user interface, controlled by Python code in both the client '
                                         'and a hosted server environment.\n\n'
                                         'This is an interactive workshop where you''ll be guided through creating an app. '
                                         'Either:\n'
                                         '* A TODO list - a simple example of a Create, Read, Update, Delete (CRUD) app\n'
                                         '* A weather data dashboard\n'
                                         '* An app that controls a remote machine from the web\n'
                                         '* Any other idea you might have!\n\n'
                                         'You''ll need a laptop to follow along.\n\n'
                                         'For a preview, have a look at this short video https://anvil.works/#about') }}
                                </p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 7 end -->
            </div><!-- Speaker row 7 -->

        </div>
    </section>
{% endblock %}
