{% extends "body.html" %}
{% block content %}
    <div class="page-banner-area banner2">
        <!-- Subpage title start -->
        <div class="page-banner-title">
            <div class="text-center">
                <h1>{{ _('Speakers') }}</h1>
            </div>
        </div><!-- Subpage title end -->
    </div><!-- Page Banner end -->

    <section id="main-container" class="main-container">
        <div class="container">
            <div class="row text-center">
                <span class="icon-wrap"><i class="fa fa-microphone"></i></span>
                <h2 class="section-title">{{ _('Speakers') }}</h2>
                <p class="section-sub-title">{{ _('Speakers you can meet at PyCon SK 2019.') }}</p>
            </div><!--/ Title row end -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/kral.jpg') }}" alt="Honza Král"/>
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Honza Král</h3>
                            <p class="ts-speaker-designation">{{ _('Python engineer at Elastic') }}</p>
{#                            <ul class="ts-speaker-social-links">#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Honza is a Python engineer at Elastic, the company behind Elasticsearch and other open source products, where he maintains the python libraries. Before that he was part of Whiskey Media, using Django to build content website for large audiences. He always had large affinity of working with data and trying to help teams scale their code and data.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('So you want to be an Engineer?') }}</h4>
                                <p>{{ _('Software Engineering is a new field, have we figured out all the ins and outs of how best to work in it?') }}</p>
                                <p>{{ _('For a lot of people the technology field has always been a semi-magical place where engineers use their arcane knowledge to tease the secrets from the computer and unfortunately we have bought into this myth... Let us examine what are some of the myths surrounding out field and which aspects might actually be useful. Is SW engineering an art or just another skill? Is talent required? Does it even matter? What about the 10X engineer...?') }}</p>
                                <p>{{ _('I will be sharing some insights that I have learned from trying to answer these questions for myself, part based on research, part on personal opinion.') }}</p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 1 end -->
            </div><!-- Speaker row 1 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/li.jpg') }}" alt="Helen Li" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Helen Li</h3>
                            <p class="ts-speaker-designation">{{ _('senior software engineer with Google AI Genomics') }}</p>
                            <ul class="ts-speaker-social-links">
                                <li><a href="https://twitter.com/xunjieli" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://github.com/google/nucleus" target="_blank"><i class="fa fa-github"></i></a></li>
                            </ul>
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Helen Li is a senior software engineer with Google AI Genomics. She graduated from Massachusetts Institute of Technology with a bachelor\'s degree in computer science. Before working on Nucleus, she was an active contributor to the Chromium project, where she developed open-source libraries and tools for over four years.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Nucleus: an open-source library for genomics data and machine learning') }}</h4>
                                <p>
                                    {{ _('Nucleus is a Python library designed to make it easy to read, write, and analyze genomics data in common bioinformatics file formats such as SAM and VCF. In addition, Nucleus enables seamless integration with the TensorFlow machine learning (ML) framework. Nucleus is heavily used in DeepVariant, a state-of-the-art convolutional neural network variant caller, and in other ML projects at Google AI Genomics. This talk will give an overview of Nucleus, its features, and its APIs.') }}
                                </p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 2 end -->
            </div><!-- Speaker row 2 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/hromkovic.jpg') }}" alt="{{ _('Profesor Juraj Hromkovič, DrSc.') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Juraj Hromkovič</h3>
                            <p class="ts-speaker-designation">{{ _('professor at ETH Zürich') }}</p>
{#                            <ul class="ts-speaker-social-links">#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Professor Juraj Hromkovič is a university lecturer from Swiss Federal Institute of Technology (ETH) in Zürich.') }}
                                    {{ _('He has authored many books and scientific publications dealing particularly with algorithmics, probabilistic algorithms and didactics of informatics. He focuses on education of informatics teachers and implementing of informatics to elementary schools. In 2017, he was awarded a 1st class Pribina Cross state order by President of Slovak republic Andrej Kiska.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
{#                            <div class="ts-speaker-session">#}
{#                                <h4 class="session-title">{{ _('TBD') }}</h4>#}
{#                                <p>{{ _('TBD') }}</p>#}
{#                            </div>#}
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 3 end -->
            </div><!-- Speaker row 3 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/holtermann.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Markus Holtermann</h3>
                            <p class="ts-speaker-designation">{{ _('Back-end and infrastructure engineer at Crate.io, Django core contributor') }}</p>
{#                            <ul class="ts-speaker-social-links">#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Markus Holtermann works as a back-end and infrastructure engineer at Crate.io. He has been a Django core contributor since early 2015. He is a member of the Django security team as well as an organizer and advisor for DjangoCon conferences. Markus has been a project lead at the German ubuntuusers.de community support platform where he discovered Python and Django in 2010.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Less Obvious Things To Do With Django\'s ORM.') }}</h4>
                                <p>{{ _('Django’s ORM is powerful. And it has been for ages. It only became even more powerful over the last years. Django’s ORM can be intimidating because it can do so many things. And it can also be confusing when trying to find out how to do things.') }}</p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 4 end -->
            </div><!-- Speaker row 4 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/spademan.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Luke Spademan</h3>
                            <p class="ts-speaker-designation">{{ _('CS student and Python enthusiast') }}</p>
{#                            <ul class="ts-speaker-social-links">#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Luke is 17 and is studying computer science, maths, further maths and physics in Year 12 (English Secondary school / Sixthform). He loves to program in Python and thinks that the micro:bit is a great eductional tool and should be more widely used. He has given previous talks at Pycon UK and is looking forward to speaking at Pycon SK 2019.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Controling a robotic arm with micro:bits. How to make computer science education more interesting.') }}</h4>
                                <p>{{ _('Captivating a group of children for a sustained period of time is notoriously hard. I will be exporing with you how the micro:bit can be used to engage a young audience with interactive demos and programming activities.') }}</p>
                                <p>{{ _('Children love to physically interact with hardware. That is what is great about the micro:bit. It not only has built in LEDs and buttons but can also control bigger more exciting electronics like robotic arms. This allows for setup that gives students of all ability levels a challenge. Students that are beginners to programming can be given a more complete program or walk throught a worksheet that takes them through the process of controling the device (in this case a robotic arm) step by step. Students that have higher programming skills can be given a more bare bones / boilerplate source file and can write code to control the arm with less guidance.') }}</p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 4 end -->
            </div><!-- Speaker row 4 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/balas.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Jakub Balas</h3>
                            <p class="ts-speaker-designation">{{ _('Python engineer at Iceye') }}</p>
{#                            <ul class="ts-speaker-social-links">#}
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                            </ul>#}
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('After several years of using Python in e-commerce, banking, and media sectors in the UK, Jakub currently leads a technical side of ground segment at Iceye, the Earth observation start up in Finland. They are building a large synthetic-aperture radar (SAR) satellite constellation and using Python extensively in various parts of the project. Iceye has recently successfully launched their second satellite ICEYE-X2 on board of SpaceX’s Falcon 9.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Using python in new space industry is not a rocket science') }}</h4>
                                <p>
                                    {{ _('What we do at Iceye and how python is allowing us to grow fast and be unique.') }}
                                </p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 5 end -->
            </div><!-- Speaker row 5 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/luff.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Meredydd Luff</h3>
                            <p class="ts-speaker-designation">{{ _('Creator of Anvil') }}</p>
                            <ul class="ts-speaker-social-links">
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
                                <li><a href="https://twitter.com/anvil_works"><i class="fa fa-twitter"></i></a></li>
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                            </ul>
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Meredydd has been programming since the halcyon days of QBasic and Delphi, when it was easy to get started building software. He created Anvil to bring those days back. Meredydd has worked in startups from telecomms to music, and has a PhD in the usability of programming from Cambridge.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Anvil: Full-stack Web Apps with Nothing but Python') }}</h4>
                                <p>
                                    {{ _('Building for the modern web is complicated and error-prone: a typical web app '
                                         'requires five different languages and four or five frameworks just to get '
                                         'started. Wouldn''t it be nicer if we could do it all in Python? With Anvil, '
                                         'you can design your page visually, write your browser-side and server-side '
                                         'code in pure Python, and even set up a built-in database in seconds. In this '
                                         'talk, Meredydd will walk us through how Anvil works under the bonnet, and '
                                         'the challenges of building a programming system that''s easy to use without '
                                         'sacrificing power.') }}
                                </p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 6 end -->
            </div><!-- Speaker row 6 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/taylor-morgan.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Shaun Taylor-Morgan</h3>
                            <p class="ts-speaker-designation">{{ _('Python developer at Anvil') }}</p>
                            <ul class="ts-speaker-social-links">
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
                                <li><a href="https://twitter.com/anvil_works"><i class="fa fa-twitter"></i></a></li>
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                            </ul>
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Shaun started programming in earnest by simulating burning fusion plasmas in the world''s biggest laser system. '
                                         'He fell in love with Python as a data analysis tool, and has never looked back. Now he wants to turn everything '
                                         'into Python, which is why he works for Anvil.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Anvil - Build a full-stack web app using nothing but Python') }}</h4>
                                <p>
                                    {{ _('Anvil is a platform for rapidly developing web apps using nothing but Python.\n\n'
                                         'It''s like Visual Basic for the web. It has a drag-and-drop editor for '
                                         'constructing a user interface, controlled by Python code in both the client '
                                         'and a hosted server environment.\n\n'
                                         'This is an interactive workshop where you''ll be guided through creating an app. '
                                         'Either:\n'
                                         '* A TODO list - a simple example of a Create, Read, Update, Delete (CRUD) app\n'
                                         '* A weather data dashboard\n'
                                         '* An app that controls a remote machine from the web\n'
                                         '* Any other idea you might have!\n\n'
                                         'You''ll need a laptop to follow along.\n\n'
                                         'For a preview, have a look at this short video https://anvil.works/#about') }}
                                </p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 7 end -->
            </div><!-- Speaker row 7 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/stevko.png') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Adam Števko</h3>
                            <p class="ts-speaker-designation">{{ _('Security/DevOps Engineer') }}</p>
                            <ul class="ts-speaker-social-links">
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
                                <li><a href="https://twitter.com/xen0l"><i class="fa fa-twitter"></i></a></li>
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                            </ul>
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Adam is currently working as Security Engineer and has already been SRE/System Engineer/DevOps '
                                         'Engineer for a long time. He is a UNIX Lover, devoted Python user and evangelist. Interested '
                                         'in operating systems, security, networking and almost anything interesting.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Be a good colleague and help your Security Engineer!') }}</h4>
                                <p>
                                    {{ _('Security is a shared responsibility. In this talk, I will show you how software engineers '
                                         'can leverage static code analysis for locating most common security vulnerabilities and '
                                         'integrate these checks into their CI systems. Following these guidelines, you will make '
                                         'your Security Engineers happy and your code more secure.') }}
                                </p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 7 end -->
            </div><!-- Speaker row 7 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/dygalo.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Dmitry Dygalo</h3>
                            <p class="ts-speaker-designation">{{ _('Tech Lead at kiwi.com') }}</p>
                            <ul class="ts-speaker-social-links">
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
                                <li><a href="https://twitter.com/Stranger6667"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/dmitry-dygalo-aa7a56b2/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://github.com/Stranger6667"><i class="fa fa-github"></i></a></li>
                            </ul>
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Dmitry is a Tech Lead at kiwi.com in Prague. Started with Python in 2010 as '
                                         'a hobby during the university, he switched to a fulltime developer job after '
                                         'the graduation. He loves writing tests and cares about code maintainability. '
                                         'His hobbies are open source and traveling.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Testing network interactions in Python') }}</h4>
                                <p>{{ _('Many modern Python applications interact with 3rd parties over network and '
                                        'packages like requests and aiohttp are incredibly popular nowadays. It makes '
                                        'it essential to know how to test network interactions. It is particularly '
                                        'important for microservices - to connect them you need to do network calls.') }}</p>
                                <p>{{ _('This talk will walk from most straightforward ad-hoc solutions to more '
                                        'tunable and extensible ones. You’ll learn how to approach testing network '
                                        'on different isolation levels in sync and async code, take away ideas and '
                                        'practices how to use with popular Python tools like responses, pook, VCR, '
                                        'and pytest.') }}</p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 8 end -->
            </div><!-- Speaker row 8 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/hopko.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Samuel Hopko</h3>
                            <p class="ts-speaker-designation">{{ _('Cloud technology enthusiast') }}</p>
                            <ul class="ts-speaker-social-links">
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
                                <li><a href="https://www.linkedin.com/in/samuel-hopko-9052b0ab/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        <div class="ts-speaker-bio">
                            <p>    {{ _('I’m passionate cloud technology enthusiast. For the first time I came across '
                                        'clouds at University when I was choosing my master’s thesis. My route began '
                                        'with open-source Openstack. After studies, I’ve started working at Davinci '
                                        'software as cloud specialist where I gained most of my knowledge about Amazon '
                                        'web services (AWS). For last four years my daily routine is architecture, '
                                        'implementation, maintenance, deployments, automation… of infrastructure and '
                                        'applications from development to production environments. I’m a collector of '
                                        'various AWS certifications and hobby Python developer. From time to time you '
                                        'can meet me at University of Zilina where I lecture about cloud technologies. '
                                        'You can also meet me at Conservatory of Zilina with the guitar in my hand.')}} </p>
                            <p>    {{ _('If you want to know more about possibilities of Amazon web services or just '
                                        'want to casually talk about cloud technology don’t hesitate to stop me '
                                        'anytime and ask.') }}
                            </p>
                        </div>
                            <div class="ts-speaker-session">
                            <h4 class="session-title">{{ _('Amazon Web Services - Alexa skills') }}</h4>
                            <p>    {{ _('Alexa is Amazon’s cloud base voice service that provides natural voice '
                                        'experience to end users. This opens a way to use human voice as input/output '
                                        'for you applications. You can easily create voice-controlled applications '
                                        '(called Alexa skills) or just voice interface for your current products or '
                                        'anything you like! Tools provided by Amazon web services (AWS) are easy to '
                                        'use and if used correctly, then completely free. Once skill is done, it’s '
                                        'just a matter of minutes to deploy it as high-available, auto-scaled, '
                                        'serverless, globally distributed application using AWS. Then you can use '
                                        'Amazon Alexa Skill store to sell your product all over the world. '
                                        'I would like to show you how it works, what AWS provides to developers and '
                                        'how can anybody create Alexa skills using your favorite language – Python.') }}
                                </p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 9 end -->
            </div><!-- Speaker row 9 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/sedivy.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Miroslav Šedivý</h3>
                            <p class="ts-speaker-designation">{{ _('Senior Software Architect') }}</p>
                            <ul class="ts-speaker-social-links">
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
                                <li><a href="https://twitter.com/eumiro"><i class="fa fa-twitter"></i></a></li>
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                            </ul>
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Born in Czechoslovakia, studied in France, living in Germany. Using Python '
                                         'to make the sun shine and the wind blow. Imports from pandas and asyncio, '
                                         'enjoys discovering the chaotic world of unicode and time zones.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('A Day Has Only 24±1 Hours') }}</h4>
                                <p> {{ _('Not only will the Sunday in the week after this PyCon.SK 2019 be one hour '
                                         'shorter, but also it may steal you even more sleep because of all your Python '
                                         'code that has to work smoothly during daylight saving time changes or '
                                         'otherwise manipulate time zones. While correct working with datetime objects '
                                         'and offsets can be mastered, you have no control of the information on local '
                                         'time zones. Exclusive domain of geographers one hundred years ago, the time '
                                         'zones adjustments became a toy in the hands of governments all around the '
                                         'world.') }} </p>
                                <p> {{ _('After a short overview of Python''s datetime and pytz libraries you''ll learn'
                                         'how the information on time zone changes gets into your system. We''ll fly '
                                         'quickly around the world''s over five hundred time zones, but will also '
                                         'focus on the case of Slovakia and surrounding countries. Two centuries of '
                                         'propaganda and chaos in thirty minutes. Maybe that will make you want to '
                                         'avoid time zones in your code altogether!') }}</p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 10 end -->
            </div><!-- Speaker row 10 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/pandey.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Manoj Pandey</h3>
                            <p class="ts-speaker-designation">{{ _('Software Engineer at Yelp') }}</p>
                            <ul class="ts-speaker-social-links">
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
                                <li><a href="https://twitter.com/onlyrealmvp"><i class="fa fa-twitter"></i></a></li>
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                            </ul>
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Currently software engineer at Yelp. Speaks at Python conferences and '
                                         'advocates about open source. Previously managed PyData Delhi conference '
                                         'series, and built a community of 5000+ people.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Gotchas and landmines in Python') }}</h4>
                                <p> {{ _('Python may be one of the simplest and most flexible programming languages '
                                         'out there, but it is still a programming language. It still has syntax, '
                                         'datatypes, and some occasional dark corners. Python “warts” are things for '
                                         'which people have criticised Python, typically aspects of the language or '
                                         'mechanisms of its implementation, because such aspects either expose '
                                         'certain surprising inconsistencies, are regarded as omissions, or cause '
                                         'irritation for parts of the community in some sense.  This talk will be '
                                         'about common pitfalls (termed warts/landmines) that people face using '
                                         'Python programming language.') }}</p>
                                <p>
                                    {{ _('The only pre-requisite is a basic familiarity with Python programming '
                                         'language. Although it’ll be good that you have laptops with Python already '
                                         'setup, it’s not required as such !') }} </p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 11 end -->
            </div><!-- Speaker row 11 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/lord.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Joel Lord</h3>
                            <p class="ts-speaker-designation">{{ _('Python enthusiast and security evangelist') }}</p>
                            <ul class="ts-speaker-social-links">
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
                                <li><a href="https://twitter.com/joel__lord"><i class="fa fa-twitter"></i></a></li>
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                            </ul>
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Joel Lord is passionate about web and technology in general. He likes to '
                                         'learn new things, but most of all he likes to share his discoveries. He does '
                                         'so by travelling to various conferences all around the globe. '
                                         'He graduated with a college degree in computer programming back in the last '
                                         'millennium. Apart for a little break to get his BSc in computational '
                                         'astrophysics, he has always been in the industry. As a technical evangelist '
                                         'with Auth0, he meets with developers to help them make the web a safer place.'
                                         ' During his free time, he is usually found stargazing in a campsite somewhere'
                                         'or brewing a fresh batch of beer in his garage.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('I Don''t Care About Security (And Neither Should You)') }}</h4>
                                <p> {{ _('Remember when setting up a login page was easy? It seems like nowadays it can '
                                         'take weeks to start a project--creating a signup form, a login form, a '
                                         'password recovery screen, and all the validation in between. And you haven’t '
                                         'even started on security considerations yet. During this presentation, the '
                                         'attendees will be introduced to OpenID Connect and OAuth. They will also '
                                         'learn how to leverage these technologies to create more secure applications. '
                                         'Most importantly, they will learn how to delegate authorization and '
                                         'authentication so they can focus on their real work and forget about all '
                                         'that security stuff.') }}</p>
                                <p>
                                    {{ _('Besides this talk Joel is plannig a workshop on building a passwordless '
                                         'authentication server.') }} </p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 12 end -->
            </div><!-- Speaker row 12 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/sedinar.jpeg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Jakub Šedinár</h3>
                            <p class="ts-speaker-designation">{{ _('Odoo evangelist') }}</p>
                            <ul class="ts-speaker-social-links">
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="https://twitter.com/joel__lord"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
                                <li><a href="https://www.linkedin.com/in/jakub-sedinar-34b37a80/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('I have worked on various positions. SysAdmin, support, DevOps, localization '
                                         'engineer, consultant, mentor. Sooner or later I always get back to Odoo. '
                                         'I worked with Odoo since 2013 when I first come across it when analyzing '
                                         'available ERPs for the needs of my then current employer. Meanwhile I '
                                         'attended technical training right in Odoo hedquarters in Brussels and a '
                                         'conference. I am active in Odoo community. Currently I am working in '
                                         'Implemento - the sole Odoo partner in Slovakia - on spreading Odoo ERP. '
                                         'If you are asking why, it is because the software is fast, high quality '
                                         'and packed with functionality.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Odoo') }}</h4>
                                <p> {{ _('Odoo na Slovensku - game changer slovenského ERP prostredia. Chceme vám '
                                         'povedať a ukázať, čo je Odoo, ako funguje, prečo je lepšie ako iné riešenia. '
                                         'Ako je zameraný, aká je architektúra riešenia...') }}</p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 13 end -->
            </div><!-- Speaker row 13 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/mertus.jpeg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Jakub Mertus</h3>
                            <p class="ts-speaker-designation">{{ _('Data Scientist') }}</p>
                            <ul class="ts-speaker-social-links">
{#                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="https://twitter.com/joel__lord"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
                                <li><a href="https://www.linkedin.com/in/jakub-mertus/"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Master from Particle Physics and Cosmology from University of Birmingham '
                                         'and Master from Data Science from University of Bath. Currently working for '
                                         'Tatra banka as a Data Scientist.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('Automatická korekcia písaného prejavu prirodzeného jazyka s využitím znakových a kontextuálnych modelov') }}</h4>
                                <p> {{ _('Banka disponuje veľkým objemom neštruktúrovaných dát. Na ich použitie je '
                                         'potrebné tieto dáta očistiť. Preto vyvíjame modul na korekciu gramatických '
                                         'chýb a preklepov, ktorý sa skladá z troch hlavých častí. Prvou časťou je '
                                         'takzvaný "re-diakritizátor" zameraný na obnovenie diakritiky v slove bez '
                                         'nej. Druhá časť je znakový model SymSpell. Ten navrhuje možné opravy slova '
                                         'na základe Damerau-Levenshtein metriky. Tretia časť využíva známy model '
                                         'Word2Vec na pochopenie kontextuálnych závislostí slov v relevantnom '
                                         'dokumente. Vývoj modulu nie je ešte ukončený, avšak subjektívne posúdenie '
                                         'modulu indikuje použiteľnosť v špecifickom bankovom prostredí.') }}</p>
                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 14 end -->
            </div><!-- Speaker row 14 -->

            <div class="row">
                <div class="ts-speaker-list clearfix">
                    <div class="col-xs-12 col-md-4">
                        <div class="ts-speaker-image">
                            <img class="img-responsive" src="{{ url_for('static', filename='images/speakers/sydorenko.jpg') }}" />
                        </div><!--Image end -->
                    </div><!-- Col end -->

                    <div class="col-xs-12 col-md-8">
                        <div class="ts-speaker-info">
                            <h3 class="ts-speaker-name dark">Sviatoslav Sydorenko</h3>
                            <p class="ts-speaker-designation">{{ _('Software engineer by day and FOSS maintainer by night') }}</p>
                            <ul class="ts-speaker-social-links">
                                <li><a href="https://github.com/webknjaz"><i class="fa fa-github"></i></a></li>
                                <li><a href="https://twitter.com/webKnjaZ"><i class="fa fa-twitter"></i></a></li>
{#                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>#}
{#                                <li><a href="https://www.linkedin.com/in/jakub-sedinar-34b37a80/"><i class="fa fa-linkedin"></i></a></li>#}
                            </ul>
                            <div class="ts-speaker-bio">
                                <p>
                                    {{ _('Hi, I\'m Sviat. Find me as @webknjaz on Twitter and GitHub. '
                                         'I\'m a Python hacker. By day, I work for Red Hat taking a crack at the '
                                         'Ansible Engine as a part of the Core team. Besides that, I\'m a FOSS '
                                         'maintainer and contributor by night. I maintain CherryPy and aiohttp. '
                                         'My current interests include building workflow automations to make '
                                         'maintaining open source projects easier at scale.') }}
                                </p>
                            </div>
                            <div class="ts-speaker-session">
                                <h4 class="session-title">{{ _('GitHub Bots: Rise of the Machines 🤖') }}</h4>
                                <p> {{ _('Hello, fellow human!') }} </p>
                                <p> {{ _('You probably spend too much time regretting that manual recurring routines '
                                         'don\'t do themselves. Let\'s change this! This workshop will empower you '
                                         'to automate all the things using GitHub Apps integration type as reusable '
                                         'restless workers helping you overcome typical maintainer frustrations. '
                                         'We\'ll have a walkthrough of the complete application creation and '
                                         'deployment process: from creating an App entity in the GitHub UI, to '
                                         'actual coding and to shipping your code via Heroku.') }}
                                <p> {{ _('To participate in the hands-on, bring your laptop with Python 3.7 and '
                                         'some editor on-board. You\'ll also need to have a GitHub account.') }}
                                <p> {{ _('Agenda:') }} </p>
                                <p>
                                    <ol>
                                        <li>{{ _('Express intro into what bots are. How they are related to our coding activities. Creative use of robots.') }}</li>
                                        <li>{{ _('Showing-off what GitHub APIs integration of GitHub Apps type gives access to. Usage flows. Checks API. Auth levels. Rate limits. Lifecycle.') }}</li>
                                        <li>{{ _('GitHub App creation. Deep dive into how it works.') }}</li>
                                        <li>{{ _('Deployment to Heroku 🚀.') }}</li>
                                        <li>{{ _('Debugging: inspection of webhook events via UI.') }}</li>
                                        <li>{{ _('Concluding ideas.') }}</li>
                                    </ol>
                                </p>

                            </div>
                        </div><!-- Info end -->
                    </div><!-- Col end -->
                </div><!-- Speaker list 15 end -->
            </div><!-- Speaker row 15 -->


        </div>
    </section>
{% endblock %}
