{% extends "body.html" %}
{% block content %}
<div class="container marketing">

  <div class="row featurette">
    <div class="col-md-12">

      <h1 class="featurette-heading">{{ _('How do you get to Slovak PyCon?') }}</h1>
      <p class="lead">{{ _('We need you — PyCon SK 2018 in Bratislava seeks for sponsors and partners!') }}</p>

      <p class="text-justify">
        {{ _('PyCon is an annual gathering for the community using and developing the open-source Python programming language. The conference is completely organized by volunteers.') }}
      </p>

      <p class="text-justify">
        {{ _('The members of the Python community organize a PyCon conference in their home countries regularly, PyCon will happen in Slovakia for the third time.') }}
      </p>

      <p class="text-justify">
        {{ _('To ensure high-quality speakers and keep the tickets price available for everyone we need you, the sponsors, who allow the conference to take place.') }}
      </p>

      <p class="text-justify">
        {{ _('Do not hesitate to contact us. We are flexible and willing to work with you to design a sponsorship package that is going to meet your business needs.') }}
      </p>

      <p class="text-justify">
        <a href="mailto:sponsors@pycon.sk">sponsors@pycon.sk</a>
      </p>

      <h2 class="featurette-heading">{{ _('Marketing') }}</h2>
      <p class="text-justify">
        {{ _('Looking for new users for your product? Such people can be found at PyCon - they also will look for new products and ideas.') }}
      </p>

      <h2 class="featurette-heading">{{ _('Recruitment') }}</h2>
      <p class="text-justify">
        {{ _('Are you looking for programmers? PyCon is the best place for meeting new talents. Many participants will be experienced developers looking for their next big career move.') }}
      </p>

      <h2 class="featurette-heading">{{ _('Audience') }}</h2>
      <p class="text-justify">
        {{ _('Want to get your message across to the people, so they talk about you? PyCon is a great opportunity. People in the Python community like to discover and share new things.') }}
      </p>

      <h2 class="featurette-heading">{{ _('Community') }}</h2>
      <p class="text-justify">
        {{ _('Looking for new contributors and partners for your open source project? PyCon is the place, where they also will look for you.') }}
      </p>

      <h2 class="featurette-heading">{{ _('Support') }}</h2>
      <p class="text-justify">
        {{ _('Are you using Python in your company? Support for community events is an excellent opportunity to contribute back.') }}
      </p>

    </div>
  </div>
</div>
{% endblock %}
