{% extends "body.html" %}
{% block content %}
  <div class="page-banner-area banner2">
		<!-- Subpage title start -->
		<div class="page-banner-title">
        	<div class="text-center">
	        	<h1>{{ _('Thank you') }}</h1>
         </div>
      </div><!-- Subpage title end -->
	</div><!-- Page Banner end -->

	<section id="main-container" class="main-container">

<div class="container">

  <div class="row">
    <div class="col-md-12">

      <p class="text-justify">
        {{ _('We\'ll get in touch as soon as possible.') }}
      </p>

    </div>
  </div>

</div>
  </section>
{% endblock %}
