{% extends "body.html" %}

{% block include_js %}
<!-- Google Map -->
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
<!-- Doc https://developers.google.com/maps/documentation/javascript/get-api-key -->
<!-- For latitude and longitude use http://www.latlong.net/ -->

<script type="text/javascript" src="{{ url_for('static', filename='js/gmap3.js') }}"></script>

<script type="text/javascript">

  /* Google Map */

  $(function () {
       $('#map')
         .gmap3({
           address:"Fakulta informatiky a informačných technológií, Ilkovičova 2, 842 16 Bratislava 4, Slovak Republic",
           zoom: 13,
           center:[48.153429, 17.071716],
           mapTypeId : google.maps.MapTypeId.ROADMAP,
           scrollwheel: false
         })
         .marker([
          {position:[48.153429, 17.071716]},
          {icon: "http://maps.google.com/mapfiles/marker_grey.png"}
        ])
     });

</script>
{% endblock %}

{% block content %}
  <div class="page-banner-area banner10">
		<!-- Subpage title start -->
		<div class="page-banner-title">
        	<div class="text-center">
	        	<h1>{{ _('Venue') }}</h1>
         </div>
      </div><!-- Subpage title end -->
	</div><!-- Page Banner end -->

	<section id="main-container" class="main-container">
		<div class="container">
			<div class="row text-center">
				<span class="icon-wrap"><i class="fa fa-map"></i></span>
				<h2 class="section-title">{{ _('Conference Location') }}</h2>
				<p class="section-sub-title">{{ _('A short guide to Eventime venue and places to stay') }}</p>
			</div><!--/ Title row end -->


			<div class="row">
				<div id="map" class="map"></div>
				<div class="gap-60"></div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <h1 class="featurette-heading">{{ _('How do you get to Slovak PyCon?') }}</h1>
          <p class="lead">{{ _('<strong>Fourth year</strong> will happen <strong>22-24th March, 2019 in Bratislava</strong>.') }}</p>

          <h2>{{ _('Venue Address') }}</h2>
          <p class="text-justify">
            {{ _('Slovak University of Technology in Bratislava') }}<br />
            {{ _('Faculty of Informatics and Information Technologies') }}<br />
            Ilkovičova 2<br />
            842 16 Bratislava 4
          </p>

          <h2>{{ _('Travelling to Bratislava') }}</h2>
          <p class="text-justify">
            {{ _('Bratislava is one of the youngest major cities in Europe. Nevertheless, it has a rich history of a free royal coronation town. At that time, it was still called the Pressburg (Prešpork). Today, Bratislava is a major transport hub in Central Europe, and there are plenty of possibilities of getting here.') }}
          </p>

          <div class="row">

            <div class="col-md-6">
              <h3>{{ _('By air') }}</h3>
              <p class="text-justify">
                {{ _('If you are travelling to Bratislava, you can fly to the Bratislava airport (airport code: BTS) or the Vienna airport (airport code: VIE). The selection of flights to Vienna is better than to Bratislava.') }}
              </p>
              <p class="text-justify">
                {{ _('There are shuttle buses running between Bratislava and Vienna airport every hour and they are relatively cheap (the bus ride costs about EUR 8 one way, if you book in advance it can got much cheaper). There are three bus companies operating airport shuttles between Vienna airport and Bratislava: SlovakLines (red buses), Blaguss (silver buses) and RegioJet (Yellow busses).') }}
              </p>
            </div>
            <div class="col-md-6">
              <h3>{{ _('By car') }}</h3>
              <p class="text-justify">
              <ul>
                <li>{{ _('From Vienna, take highway A4, heading to Schwechat airport, when possible take the exit that leads to highway A6, which heads towards Bratislava.') }}</li>
                <li>{{ _('From Budapest, take highway M1 heading to Gyor, follow this route until you see signs for highway M15 headed to Slovakia and Bratislava.') }}</li>
                <li>{{ _('From Prague, take highway D1 to Brno, once in Brno take highway D2 heading to Slovakia and Bratislava.') }}</li>
                <li>{{ _('From Warsaw, take highway A1 heading to Katowice. From there follow the road for Čadca, Slovakia. Take this road all the way to Žilina, then switch to highway D1 to Bratislava.') }}</li>
              </ul>
              </p>
            </div>
            <div class="col-md-6">
              <h3>{{ _('By bus') }}</h3>
              <p class="text-justify">
                {{ _('All neighbouring capital cities Vienna, Prague, Budapest, Warsaw and Kiev have direct bus connections.') }}
              </p>
              <p class="text-justify">
                {{ _('Once you arrive at the Bratislava bus station (Mlynské Nivy), you\'ll need to walk through the terminal towards its main entrance. Take a left and walk about 70 meters towards a busy street. Do not cross the street. There will be public transportation bus stops immediately on your right hand side.') }}
              </p>
            </div>
            <div class="col-md-6">
              <h3>{{ _('By train') }}</h3>
              <p class="text-justify">
                {{ _('All neighboring capital cities Vienna, Prague, Budapest, Warsaw and Kiev have direct train connections.') }}
              </p>
              <p class="text-justify">
                {{ _('Once you arrive at the Bratislava train station (Bratislava hlavná stanica), you\'ll need to walk through the terminal towards its main entrance. Directly in front of the main entrance you\'ll find all your public transportation options on your right hand side.') }}
              </p>
            </div>

          </div>

          <h2>{{ _('Accommodation') }}</h2>
          <p class="text-justify">
            {{ _('There are plenty of opportunities for accommodation in Bratislava. From coach surfing, Airbnb to hostels and five star hotels. Even though it is not the main tourist season, we advise you to book your accommodations in advance.') }}
          </p>

          <h2>{{ _('Guide') }}</h2>
          <p class="text-justify">
            {{ _('Bratislava offers much more than just PyCon. If you decide to stay in Bratislava a few days longer, have a look at <a href="http://mpba.sk/en" title="M_P_ BA: alternative Bratislava map" target="_blank" class="external">M_P_ BA</a> (alternative map of Bratislava) which lists popular attractions as well as unusual destinations within the city. Check out peoples\' comments to find out about each location or event.') }}
          </p>
          <p class="text-justify">
            {{ _('Or you can review the <a href="http://www.visitbratislava.com/" title="city pages for visitors" target="_blank" class="external">official city guide for visitors</a>, where you can also find other events that are happening in Bratislava.') }}
          </p>
        </div>
      </div>

    </div>
  </section>
{% endblock %}
